custom-color-blue{
  color: #CBF3F0
}
btn-custom-color-orange{
  color: #FF9F1C
}

body {
  background-color: #FFFFFF;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.signup-card{
background-color: #FFFFFF;
border-color:  #2EC4B6;
border-width: 2px;
border-radius: 10px;
}
.custom-navbar {
  background-color: #2ec4b6 ;

}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: fit-content;

}

.navbar-link {
  color: #FFFFFF ;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
.navbar-link:hover {
  color: #ffbf69 ;
  opacity: .85;
}

button.btn-signup.btn-active:active {
  background-color: #CBF3F0;
  color: #FFBF69;
}


button.btn-signup {
  background-color: #FF9F1C;
  color: #FFFFFF;
  border-color:  #2EC4B6;
  border-width: 2px;
  margin-left: 125px;

 }

 button.btn-signup:hover {
  background-color: #2EC4B6;
  color: #FF9F1C;
}

h1.sign-up-title{
 color: #FF9F1C;
 text-shadow: -1px 0 #2EC4B6, 0 1px #2EC4B6, 1px 0 #2EC4B6, 0 -1px #2EC4B6;


}

/* Login page design elements */
.formDisplayName{
pointer-events: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.right-half{
  right: 0;

}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #2EC4B6;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered img {
  width: 150px;
  border-radius: 50%;
}

.login-button {
    background-color: #FF9F1C;
    border-color: #FF9F1C;
}
.login-button:hover {
  background-color: #FFbf69;
  border-color: #FF9F1C;
}


.logo{
  margin-right: 20px;
}

.custom-navbar{
  height: 60px;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
  color: #FFFFFF ;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}





/* Trip Overview CSS */

.trip-overview{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.details{
  display: flex;

  justify-content: center ;
  gap:20px;
  border:2px solid blue;
}


.card-container-trip-details{
  display: flex;

  min-width: 200px;
}

.card-title-trip-details{
  display: flex;

}
.trip-detail-body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
}
.card-container-buddies{
  min-width: 200px;
}
.buddy-body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}


.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  border:2px solid red;
}
.card-container-categories{
 display: flex;
 min-height: 200px;
}
.category-body{

  display: flex;
  justify-content: space-around;

  border:2px solid yellow;
}

.category-items{
  display: flex;
  border: 2px solid orange;
}

