/* signup page styling  */

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




/*
.split-left {
  background-color: #1375d6;
  padding: 20px;
  height: 100vh;
} */

/* .split-right {
  background-color: #FF9F1C;
  padding: 20px;
  height: 100vh;

} */
