@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #2EC4B6;
$secondary: #FF9F1c;
$success: #CBF3F0;
$info: #FFBF69;




$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
);



.custom-btn-primary{
  background-color: $primary;
}
