@font-face {
  font-family: 'Sharpie';
  src: url('./sharpie.ttf') format('truetype');
}

@media (max-width: 600px) {
    .nav-links,
    .trip-overview,
    .categories,
    .details {
        flex-direction: column;
    }

    .card-container-trip-details,
    .card-container-categories,
    .card-container-cost{
        width: 100%;
    }
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Sharpie';
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.orange-button {
    background-color: #FF9F1C;
    border-color: #FF9F1C;
}
.login-button:hover {
  background-color: #FFbf69;
  border-color: #FF9F1C;
}

.blue-button {
    background-color: #2EC4B6;
    border-color: #2EC4B6;
}
.blue-button:hover {
  background-color: #acf8f3;
  border-color: #2EC4B6;
}




/* Signup css and Navbar */
.signup-card{
background-color: #FFFFFF;
border: #FFFFFF;
}

.custom-navbar {
  background-color: #2ec4b6 ;

}
.main-navbar-tb{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;

  font-family: 'Sharpie', sans-serif;
}
.nav-links {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
 
}


.dropdown {
    display: flex;
}

.navbar-link {
  color: #FFFFFF ;
  text-decoration: none; 
  font-weight: bold;
  margin: 0 10px;
}
.navbar-link:hover {
  color: #ffbf69 ;
  opacity: .85;
}

.dropdown-menu {
    background-color: #FFBF69;
}

.dropdown-link {
  color: #000000 ;
  text-decoration: none; 
  font-weight: bold;
}
.dropdown-link:hover {
  color: #ffbf69 ;
  opacity: .85;
}


.formDisplayName{
pointer-events: none;
}


/* Trip Overview CSS */

.trip-overview{
  font-family: 'Sharpie', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card{
  display: flex;
  justify-content: center;
  border:solid 1px rgb(126, 125, 125);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Sharpie', sans-serif;
  border: 2px solid black;
}



.details{
  display: flex;
  border-radius: 0px;
  justify-content: center ;
  gap:30px;
  border-radius: 5px;
 
}


.card-container-trip-details{
  display: flex;
  justify-content: center;
  min-width: 200px;
  box-sizing: border-box ;
  cursor: pointer;
  transition: 0.5s;
}
.card-container-trip-details:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.header-trip-details{
  display: flex;
  justify-content: center;
  background-color: #e6aa5b;
  border-radius: 0px;
}
.trip-detail-body{
  display: flex;
  border-radius: 0px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  color:#000;
  background:#FFBF69;
  word-wrap: break-word; 


}

.card-header-whos-going{
  display: flex;
  justify-content: center;
}
.card-container-buddies{
  flex: 1 1 auto;
  height: 100%;
  font-family: 'Sharpie', sans-serif;
  max-width: 300px;
  background-color: #FF9F1C;
  border-radius: 5px;
  
}
.buddy-body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
}



.card-container-categories{
 display: flex;
 min-height: 200px;
 transform: rotate(0deg);
 transition: transform 1s;
 border-radius: 0px;
}

.card-container-categories:hover {
  transform: scale(1.1) rotate(1deg) !important;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.category-body{
  display: flex;
  justify-content: center;
  flex-direction: column;


}

div.category-body.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



.categories{
  display: flex;
  font-size: large;
  justify-content: center;

}
.category-items{
  display: flex;
  justify-content: center;

}
.category-items:hover{
 color: #2EC4B6;
}
/* Trip overview dummy total cost css */

.card-container-cost{
  display:flex;
  background-color: #cbf3f0;
  border-radius: 5px;
}

.card-title-cost{
display: flex;
justify-content: center;



}

.total-cost{
display: flex;
justify-content: center;
margin-top: 20px;
font-size:xx-large;
}


.alert-success {
    background-color: #cbf3f0;
}