.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.right-half{
  right: 0;

}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #cbf3f0;
}

.right {
  right: 0;
  top: 25%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered img {
  width: 150px;
}

.login-button {
    background-color: #FF9F1C;
    border-color: #FF9F1C;
}
.login-button:hover {
  background-color: #FFbf69;
  border-color: #FF9F1C;
}

.logo{
  margin-right: 20px;
}

.centered-right {
  margin-bottom: 250px;
}
